In [2]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import matplotlib.pyplot as plt

In [6]:
df=pd.read_excel('brands_dataset.xlsx')
df.head()

,Timestamp,Your Name:,Select your Five favorite Brands?
0,2021/05/23 8:31:07 PM GMT+5,Muzammil,Khaadi;Bonanza;Gulahmed;Borjan;Bata
1,2021/05/23 9:18:37 PM GMT+5,Usama,Bonanza;J.;Ndure;
2,2021/05/23 9:18:48 PM GMT+5,NaN,Khaadi;Sana Safinaz;Limelight;Bonanza
3,2021/05/23 9:19:10 PM GMT+5,Hassnain Zafar,Beechtree;Gulahmed;Bareeze;Maria.B
4,2021/05/23 9:19:10 PM GMT+5,Mustafa,Bonanza;J.;Stylo;

In [7]:
item=df['Select your Five favorite Brands?'].tolist()

In [8]:
list_item=[]
for i in item:
    list_item.append(i.split(','))

In [9]:
# one hot encodeing
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(list_item).transform(list_item)
df = pd.DataFrame(te_ary, columns=te.columns_)
df.head()

,Bata;Stylo;,Bata;Stylo;Ndure;,Beechtree;Gulahmed;Bareeze;Maria.B,Beechtree;Metro;Bata;Ndure;,Bonanza;Bareeze;,Bonanza;Bareeze;J.;Stylo;,Bonanza;Bareeze;Maria.B;Metro,Bonanza;Borjan;Ndure;,Bonanza;Gulahmed;Bareeze;J.;,Bonanza;Gulahmed;Borjan,...,Limelight;Bonanza;Bareeze;Warda,Limelight;Bonanza;Gulahmed;Bata;Ndure,Limelight;Bonanza;Hush puppies;Ndure,Limelight;Bonanza;Maria.B;J.;,Limelight;Stylo;,Sana Safinaz;Beechtree;J.;Metro;,Sana Safinaz;Bonanza;Borjan;Ndure;,Sana Safinaz;Limelight;Maria.B;Stylo;,Warda;J.;,Warda;J.;Bata;Stylo;
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [10]:
def convert(x):
    if x==True:
        return 1
    else:
        return 0

In [11]:
basket_sets=df.applymap(convert)
basket_sets.head()

,Bata;Stylo;,Bata;Stylo;Ndure;,Beechtree;Gulahmed;Bareeze;Maria.B,Beechtree;Metro;Bata;Ndure;,Bonanza;Bareeze;,Bonanza;Bareeze;J.;Stylo;,Bonanza;Bareeze;Maria.B;Metro,Bonanza;Borjan;Ndure;,Bonanza;Gulahmed;Bareeze;J.;,Bonanza;Gulahmed;Borjan,...,Limelight;Bonanza;Bareeze;Warda,Limelight;Bonanza;Gulahmed;Bata;Ndure,Limelight;Bonanza;Hush puppies;Ndure,Limelight;Bonanza;Maria.B;J.;,Limelight;Stylo;,Sana Safinaz;Beechtree;J.;Metro;,Sana Safinaz;Bonanza;Borjan;Ndure;,Sana Safinaz;Limelight;Maria.B;Stylo;,Warda;J.;,Warda;J.;Bata;Stylo;
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
frequent_itemsets = apriori(basket_sets, min_support=0.0000001, use_colnames=True)

In [34]:
rules_mlxtend = association_rules(frequent_itemsets, metric="lift", min_threshold=0.2)
rules_mlxtend.head()

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction]
Index: []

In [35]:
rules_mlxtend['antecedents'] = rules_mlxtend.apply(lambda row: list(row.antecedents), axis=1)
rules_mlxtend['consequents'] = rules_mlxtend.apply(lambda row: list(row.consequents), axis=1)

In [36]:
rules_mlxtend.to_csv('new_recommendation2.csv')

In [16]:
rul_df=pd.read_csv('new_recommendation2.csv',converters={'antecedents': eval, 'consequents': eval})            # get user name and interests of new user.
rul_df.head()

Empty DataFrame
Columns: [Unnamed: 0, antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction]
Index: []

In [25]:
def pick_rules(row, user_interest_list):
        consider_antecedents = True
        consider_consequents = True

        # Loop through all antecedents and find is this antecedents are
        # related to user intersts or not?.
        for item in row.antecedents:
            if item not in user_interest_list:
                consider_antecedents = False

        if  consider_antecedents==True:
            # Antecedents are matched

            # Now check if consequents of this rule is not in users Interests
            # then this rule is for this user.
            for item in row.consequents:
                if item in user_interest_list:
                    consider_consequents = False
                else:
                    consider_consequents=True
                    
                    
            if consider_consequents ==True:
                # This rule is matched with the user.
                return True
            else:
                return False

        else:
            return False
        
def genrate_profile():
    
    rul_df=pd.read_csv('new_recommendation2.csv',converters={'antecedents': eval, 'consequents': eval})            # get user name and interests of new user.
    userinterests = 'Bata,Stylo'
    username = 'muzammmil'
            # convert user interest into list.
    u_i_list = userinterests.split(',')

    applied_rul_df =  pd.DataFrame(columns=rul_df.columns)
            
    for index, row in  rul_df.iterrows():
        if(pick_rules(row,u_i_list)):
            applied_rul_df = applied_rul_df.append(row)
                    
            # get a rule which have higest lift 
        if(applied_rul_df.shape[0] >= 1):
            

            columns_names = ['antecedents', 'consequents', 'antecedent support', 'consequent support', 'support', 'confidence', 'lift', 'leverage', 'conviction']    
            selected_rule= applied_rul_df.iloc[applied_rul_df.lift.argmax()]
            userSeleted_Interest = selected_rule.consequents
            new_user = {
                    "Name": username,
                    "interests": userSeleted_Interest
                }
            
        else:
                # In case no rule is matched with the user Interests.
            new_user = {
            "Name": username,
               "interests": "PAKISTAN"
                
        }
        print(new_user)

            
genrate_profile()